.film-box {
  background-image: linear-gradient(#A0BEF8, #B5F0F0);
  text-align: center;
  position: relative;
  padding: 10px;
  left: 32%;
  width: 500px;  
  border-radius: 10px;
  margin-top: 10px;
}

.header { 
  color: white;
  text-shadow: 1.5px 1.5px #4482ff;
}

.film-item {
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  color: #3378FF;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #4482ff;
}

.flex-item-form {
  margin: 10px;
  
}

.button {
  background-color: #3378FF;
  color: white;
  padding: 10px;
  border: 2px solid #3378FF;
  border-radius: 5px;
  cursor:pointer;
}


.text-box {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
}